<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/static/mystyle.css">
<title>Scraper King</title>
</head>
<body>


<h1>Webscraping posts from reddit every hour</h1>
<p>This is a cron job running on Digital Ocean</p>

<a href="https://github.com/austinlasseter/webscraper_cronjob">Code on github</a>
<br>
<a href="https://old.reddit.com/r/AskReddit/">Pulling from the Ask Reddit subreddit</a>
<p>Most recent entry in crontab log file:</p>
<object data="/static/log.html" width="100%" height="200"> </object>
<p>Posts scraped from reddit:</p>
<object data="/static/redditposts.html" width="100%" height="1000"> </object>


</body>
</html>
